.background {
    -fx-background-color: aliceblue;
}

.radio-button {
    -fx-background-color: transparent;
    -fx-padding: 8px 0px 8px 0px;
    -fx-font-size: 13pt;
}

.radio-button:selected {
    -fx-background-color: gray;
}

.radio-button .dot {
    -fx-mark-highlight-color: transparent ;
    -fx-mark-color: transparent;
}

.radio-button .radio {
    -fx-background-color: transparent;
    /*-fx-background-image: null;*/
    -fx-image: null;
    -fx-color: transparent;
}

.left-panel {
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 0 1 0 0;
}

.label-section-title {
    -fx-font-size: 20pt;
}

.label-book-title {
    -fx-font-size: 16pt;
}

.label-author {
    -fx-text-fill: #616161;
}

.label-book-genres {
    -fx-font-style: italic;
    -fx-font-size: 10pt;
    -fx-underline: true;
    -fx-text-fill: #505050;
}

.common-page {
    -fx-padding: 8px 0px 8px -16px;
    -fx-font-size: 20px;
}

.label-more-info {
    -fx-underline: true;
    -fx-text-fill: #2b4f87;
}

.label-more-info:hover {
    -fx-cursor: hand;
}

.book-panel {
    -fx-padding: 16px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-insets: 24px;
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-background-insets: 24px;
}

.dev-time-border {
    -fx-border-width: 2px;
    -fx-border-color: red;
}

.text-area .content {
    -fx-background-color: rgba(0,0,0,0.15);
}